:root {
  font-family: "Kanit", sans-serif;
  background-color: #242424;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}
a{
  text-decoration: inherit;
}

body {
  margin: 0;
  padding: 0;
}


